body{    
 background-image: url("../src/img/imgBG.jpg");
 background-size:cover;
}

main{
    margin-bottom: 299px;
}


.shadow{
box-shadow: 0px 5px 20px rgb(7, 6, 6);
}

.card{
    width: 80%;
    margin: auto;
    height:350px;
    overflow-y: hidden;
    
}

.card:hover{
    height:auto;
    overflow-y:visible;
}

.fav{
    cursor:pointer;
}
footer{
    height: 100%;
}


footer li{
    margin-right: 5px;
    margin-bottom: 5px;
}

footer .nav-link{
     background-color:black;
     
     border-right: 1px solid;
     border-radius: 10px;
     color: rgb(243, 29, 29)!important
}

footer .nav-link:hover{
   box-shadow: 0px 5px 20px rgb(7, 6, 6);
}

footer p{
   color: black; 
   font-weight: bold;
}


@media screen and (max-width: 400px) {
    main{
        margin-bottom: 200px;
    }
}